.footer {
  grid-area: footer;
  width: 100%;
  margin-top: 10px;
}

.thumbContainer {
    border: 1px solid lightgray;
    padding: 7px 7px;
    cursor: pointer;
    width: 50px;
    margin-top: 10px;
}

.upThumbIcon {
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 25px;
}

.helpfulText {
  font-weight: 700;
  margin-top: 3px;
}

.voteText {
  font-weight: 500;
}

.votes {
  display: flex;
}

.downThumbIcon {
  transform: scale(1,-1);
  display: inline-block;
  vertical-align: text-bottom;
  height: 18px;
  width: 25px;
}
