.footer {
    grid-area: footer;
}

.upThumbIcon {
    border: 1px solid lightgray;
    height: 15px;
    width: 25px;
    padding: 5px 5px;
    margin: 5px 5px;
}

.downThumbIcon {
    border: 1px solid lightgray;
    height: 15px;
    width: 25px;
    padding: 5px 5px;
    margin: 5px 5px;
}

.helpfulText {
    font-size: 0.85rem;
}

.votes {
    display: flex;
}

.thumbs {
    display: inline;
    transform: rotateX(180deg);
}
