.title {
    display: flex;
    display: inline-block;
    vertical-align: middle;
}

.list {
    width: 70%;
    margin: 0 auto;
    display: table;
    /* flex-direction: column;
    justify-content: center; */
}

.filterContainer {
    float: right;
}
