.filterContainer {
    float: right;
}

.headerContainer {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
}

.headerText {
    padding-left: 15px;
}
