.header {
  grid-area: header;
}

.review_headline {
  font-size: 1.2rem;
}

.star_rating {
  display: inline-block;
  height: 20px;
  width: 100px;
}

.rating_indicator {
  font-size: 0.87rem;
  padding: 2px 5px;
  border: 0.5px solid lightgray;
}
